[Desktop Entry]
Name=Tek-Phase Green

Comment=A dark colored tech theme with neon led highlights

Icon=theme.png
Type=Service

X-Falkon-Author=Aaron_(Ektophase)_Swanson
X-Falkon-Email=contact@ektophase.com

