@define-color foreground #dee2e1;
@define-color background #0C0E1B;
@define-color cursor #dee2e1;

@define-color color0 #0C0E1B;
@define-color color1 #B8B659;
@define-color color2 #71A19A;
@define-color color3 #15C8E1;
@define-color color4 #2DE3E9;
@define-color color5 #40DADC;
@define-color color6 #A1B0AB;
@define-color color7 #dee2e1;
@define-color color8 #9b9e9d;
@define-color color9 #B8B659;
@define-color color10 #71A19A;
@define-color color11 #15C8E1;
@define-color color12 #2DE3E9;
@define-color color13 #40DADC;
@define-color color14 #A1B0AB;
@define-color color15 #dee2e1;
